[user]
     email = kgt@lanl.gov
     name = Kelly (KT) Thompson
[svn]
     rmdir = true
     pushmergeinfo = true
[core]
     autocrlf = input
     editor = code --wait
[color]
     ui = auto
[diff]
     tool = meld
[difftool]
     prompt = false
[difftool "meld"]
     cmd = meld "$LOCAL" "$REMOTE"
[url "http://public.kitware.com/"]
     insteadOf = git://cmake.org/
[url "git@github.com:"]
     insteadOf = git://github.com/
[url "ssh://git@re-git.lanl.gov:10022/"]
     insteadOf = git@re-git.lanl.gov:
[http]
     sslVerify = false
[https]
     sslVerify = false
[credential]
     helper = cache
[merge]
     tool = meld
[mergetool "meld"]
     cmd = meld --diff "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[push]
     default = simple
[pull]
     rebase = true
[fetch]
     prune = true
[init]
     defaultBranch = master
[pager]
     branch = false
