[user]
     email = kgt@lanl.gov
     name = Kelly (KT) Thompson
[svn]
     rmdir = true
     pushmergeinfo = true
[core]
     autocrlf = input
     editor = code --wait
[color]
     ui = auto
[diff]
     tool = meld
[difftool]
     prompt = false
[difftool "meld"]
     cmd = meld "$LOCAL" "$REMOTE"
[url "http://public.kitware.com/"]
     insteadOf = git://cmake.org/
[url "git@github.com:"]
     insteadOf = git://github.com/
[url "ssh://git@re-git.lanl.gov:10022/"]
     insteadOf = git@re-git.lanl.gov:
[http]
     sslVerify = false
[https]
     sslVerify = false
[credential]
     helper = cache
[merge]
     tool = meld
[mergetool "meld"]
     cmd = meld --diff "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[mergetool.ediff]
     cmd = emacs -nw --eval \"\
(progn\
  (defun ediff-write-merge-buffer ()\
    (let ((file ediff-merge-store-file))\
      (set-buffer ediff-buffer-C)\
      (write-region (point-min) (point-max) file)\
      (message \\\"Merge buffer saved in: %s\\\" file)\
      (set-buffer-modified-p nil)\
      (sit-for 1)))\
  (setq ediff-quit-hook 'kill-emacs\
        ediff-quit-merge-hook 'ediff-write-merge-buffer)\
  (ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\"\
                                   \\\"$BASE\\\" nil \\\"$MERGED\\\"))\"
[push]
     default = simple
[pull]
     rebase = true
[fetch]
     prune = true
